<!DOCTYPE html>
<html ng-app="jarssApp">
    <head>
        <title>JaRSS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <script type="text/javascript" src="data/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="data/angularjs/angular-cookies.min.js"></script>
        <script type="text/javascript" src="data/ui-bootstrap/ui-bootstrap-2.0.0.min.js"></script>
        <script type="text/javascript" src="data/ui-bootstrap/ui-bootstrap-tpls-2.0.0.min.js"></script>
        <script type="text/javascript" src="data/angularjs/angular-messages.js"></script>
        <link rel="stylesheet" type="text/css" href="data/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="data/bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="data/jarss/css/style.css" />
        <link rel="stylesheet" type="text/css" href="data/angular-ui-tree/angular-ui-tree.min.css" />
        <link rel="shortcut icon" type="image/x-icon" href="data/jarss/img/favicon.ico" />
        <script type="text/javascript" src="data/angular-ui-tree/angular-ui-tree.min.js"></script>
        
        <script type="text/javascript" src="data/split/split.min.js"></script>
        <script type="text/javascript" src="data/contextMenu.js"></script>
        <script type="text/javascript" src="data/moment-with-locales.min.js"></script>
        
        <script type="text/javascript" src="data/jarss/js/App.js"></script>
        <script type="text/javascript" src="data/jarss/js/RootController.js"></script>
        <script type="text/javascript" src="data/jarss/js/LoginController.js"></script>
        <script type="text/javascript" src="data/jarss/js/MainController.js"></script>
		<script type="text/javascript" src="data/jarss/js/SubscribeController.js"></script>
    </head>
    <body ng-controller="RootController">
        <div ng-if="!authenticated" ng-controller="LoginController">
            <!-- Login screen -->
            
            <div class="container" id="login-container">
                <div class="page-header">
                  <img src="data/jarss/img/jarss.png" alt="JaRSS" id="big-logo" />
                </div>
                
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

                <form class="form-signin" ng-submit="doLogin(loginform.$valid)" name="loginform">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label for="inputLogin" class="sr-only">User</label>
                    <input  id="inputLogin" class="form-control" placeholder="User" ng-model="login" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password" required>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                  </form>
            </div>
        </div>
        <div id="main-controller" ng-controller="MainController" ng-show="authenticated">
            <!-- Main app -->
            
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                        <img src="data/jarss/img/jarss-small.png" alt="JaRSS" id="small-logo" />
                        
                        <a id="feed-title" ng-if="selectedNode != null && !selectedNode.isCategory" ng-href="{{selectedNodeDetails.website}}">{{selectedNodeDetails.title}}</a>
                        <div ng-show="selectedNode != null && !selectedNode.isCategory" id="feed-description">{{selectedNodeDetails.description}}</div>
                        <span id="feed-title" ng-if="selectedNode != null && selectedNode.isCategory">{{selectedNode.title}}</span>

                        <ul class="nav navbar-nav navbar-right flexbar-right">
                            <li ng-show="selectedNode != null">
                                <a href="#" ng-click="markAllAsRead()">Mark all as read</a>
                            </li>
                            <li uib-dropdown>
                                <a href="#" uib-dropdown-toggle>Actions <b class="caret"></b></a>
                                <ul uib-dropdown-menu>
                                  <li><a href="#" ng-click="subscribe()">Subscribe&hellip;</a></li>
                                  <li><a href="#" ng-click="preferences()">Preferences&hellip;</a></li>
                                  <li><a href="#" ng-click="logout()">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
            </nav>
            
            <script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content" ng-class="{ 'selected': selectedNode == node }" ng-click="selectNode(node)">
    <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
     <img class="feed-image" width="16" height="16" alt="" src="api/v1/feeds/{{node.id}}/icon?token={{token}}" ng-if="!node.isCategory" />
     <img class="feed-image" width="16" height="16" alt="" src="data/jarss/img/folder.png" ng-if="node.isCategory" />
    <div ng-class="{'has-unread': node.unread > 0}" class="feed-title">{{node.title}}</div>
    <div ng-if="node.unread > 0" class="badge">{{node.unread}}</div>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>
            
            <div id="panes" class="split">
                <div id="feeds-pane" class="split split-horizontal">
                    <div ui-tree="treeOptions" id="tree-root" data-drag-delay="1000">
                        <ol ui-tree-nodes ng-model="data">
                            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
                <div id="right-pane" class="split split-horizontal">
                    
                    <div id="articles-pane" class="split">
                        
                        <div class="headline" ng-repeat="headline in headlines" ng-if="!headlines.loading" ng-class="{'unread': !headline.read}">
                            <div class="headline-content" ng-click="showArticle($event, headline)">
                                <img src="data/jarss/img/star.png" class="star-toggle" ng-class="{'starred': headline.starred}" ng-click="toggleStar($event, headline)" alt="" />
                                <a ng-href="{{headline.link}}" class="headline-title">{{headline.title}}</a>
                                <span class="headline-separator">//</span>
                                <div class="headline-excerpt">{{headline.excerpt}}&hellip;</div>
                                <span class="headline-published" title="{{headline.published | date:'medium'}}">{{formatDate(headline.published)}}</span>
                            </div>
                            <div class="article-preview" ng-if="headline.id == selectedHeadlineId">
                                <div class="article-header">
                                    <a ng-href="{{headline.link}}" ng-click="openArticle($event, headline.link)">{{headline.title}}</a>
                                    <div class="author" ng-show="headline.article.author">from {{headline.article.author}}</div>
                                </div>
                                <div class="article-content" id="content-{{headline.id}}" ng-show="!headline.article.loading" ng-bind-html="headline.article.description"></div>
                                <div class="article-loading" ng-show="headline.article.loading"><img src="data/jarss/img/rss-loader.gif" alt="Loading..." /></div>
                                <div class="article-footer">
                                    <img src="data/jarss/img/star.png" class="star-toggle" ng-class="{'starred': headline.starred}" ng-click="toggleStar($event, headline)" alt="" />
                                    <input type="checkbox" ng-model="headline.read" ng-click="applyIsRead(headline)" id="read-{{headline.id}}" /><label for="read-{{headline.id}}">Mark as read</label>
                                </div>
                            </div>
                        </div>
                            <div ng-if="!headlines" class="headline-none">No articles to see!</div>
                            <div class="headlines-loading" ng-show="headlines.loading"><img src="data/jarss/img/rss-loader.gif" alt="Loading..." /></div>
                        
                    </div>
                    <!--<div id="preview-pane" class="split">Preview pane</div>-->
                </div>
            </div>
        </div>
    </body>
</html>
